/* the cccss rules for workoutpage.html */

/* Add a font */
@font-face {
  font-family: "EraserDust";
  src: url("fonts/eraserdust-webfont.eot");
  src: 
  url("fonts/eraserdust-webfont.woff") format("woff"),
  url("fonts/eraserdust-webfont.otf") format("opentype"),
  url("fonts/eraserdust-webfont.svg#filename") format("svg");
}

html, body {
  font-size: larger;
  background: #2d2d2d;
  color: #f0f1d8;
  font-family: EraserDust;
  padding: 1pc;
  margin: 1pc;
  }

/* All div sections */
div {
  border: #673ab7;
  border-width: 9pt;
  float: left;
  margin: 5px;
  width: 80pc;
}

/* All 2nd-level div sections */
div div {
  border: #3f51b5;
  border-style: solid;
  border-width: medium;
  float: left;
  clear: left;
  margin-right: 0pc;
  width: 10pc;
  padding: 5px;
  width: 100pc;
}

label {
  font-size: 22pt;
}

div #workout {
  width: 80pc;
}

div div#length {
  clear: right;
  float: right;
}

select#length {
  font-size: 14pt;
  color: black;
}

select {
  font-size: 14pt;
}

input[type="checkbox"] + label:initial {
  background-color: red;
}


div div#experience {
  clear: right;
  float: right;
}

div div#buttons {
  margin: 14%;
  width: 96%;
  text-align: center;
  padding-right: 5pc;

}

.buttons {
  padding: 6px;
  margin-right: 5pc;
  margin-left: 5pc;
  font-size: 14pt;
  color: black;
  background: #f0f1d8;
}

/* Info div only. */
div#info {
  float: right;
  width: 10pc;
  overflow-wrap: normal;
}

/* Menu div <p> sections. */
div#menu p {
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
}

